---
import Layout from '../layouts/Layout.astro';
import SearchUser from '@/components/forms/SearchUser.astro';
import '../styles/globals.css';

if (Astro.request.method === 'POST') {
    try {
        const data = await Astro.request.formData();
        const name = data.get('profilename');
        const type = data.get('profileOption');
        console.log(name);
        return Astro.redirect(`/profile/${type}-${name}`);
        // Do something with the data
    } catch (error) {
        if (error instanceof Error) {
            console.error(error.message);
        }
    }
}
---

<Layout title="Welcome to Astro.">
    <div class="bg-white p-8 rounded-lg shadow-lg w-full max-w">
        <h2 class="text-2xl font-bold mb-6 text-gray-800">Ver perfil</h2>

        <SearchUser />
    </div>
</Layout>

<style></style>
